.content-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;

  .spellform {
    .background {
      height: 1000px;
      

      img {
        height: 1000px;
      }
    }
    .foreground {
      
    }
  }

  .hud {
    display: flex;
    justify-content: center;

    .mana {
      display: grid;
      height: 200px;
      width: 190px;
      img {
        height: 200px;
        width: 190px;
      }
    }
    .form{
      display: grid;
      height: 200px;
      width: 190px;
      img {
        height: 200px;
        width: 190px;
      }

    }
  }
}
